
import telebot
import webbrowser

bot = telebot.TeleBot('7880472104:AAGtdfOkqEK5kVqEZguywX2MTkvW8KQjfPk')

@bot.message_handler(commands=['site', "website"])
def site(message):
    webbrowser.open('https://academy.kp11.ru/')


@bot.message_handler(commands=['start', 'main', 'hello'])
def start(message):
    bot.send_message(message.chat.id, f'привет, {message.from_user.first_name} {message.from_user.last_name}')




@bot.message_handler(commands=['help'])
def main(message):
    bot.send_message(message.chat.id, '<b>Help</b> <em><u>information</u></em>')


@bot.message_handler()
def info(message):
    if message.text.lower() == 'привет':
         bot.send_message(message.chat.id, f'привет, {message.from_user.first_name} {message.from_user.last_name}')
    elif message.text.lower() == 'id':
        bot.reply_to(message, f'ID: {message.from_user.id}')

bot.polling(none_stop=True)
